* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        'nav'
        'head'
        'footer';
}

nav {
    grid-area: nav;
    background-color: #303030;
    min-height: 70px;
    display: grid;
    place-content: center;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    padding: 15px;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(192, 131, 131);
}

header {
    grid-area: head;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), 
                    rgba(0, 0, 0, 0.2)), 
                    url(../material/image/pattern\ 3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 800px;
    display: grid;
    grid-template-areas: 'hero';
    align-content: center;
}

.headingbox {
    grid-area: hero;
    margin-left: 10%;
    color: white;
}

.headingbox h1 {
    font-size: 50px;
}

footer {
    grid-area: footer;
    background-color: #202020;
    min-height: 80px;
    color: rgb(116, 116, 116);
    place-content: center;
    display: grid;
}

footer a {
    text-decoration: none;
    color: rgb(116, 116, 116);
}

@media screen and (min-width: 1280px) {
    header {
        min-height: 800px;
    }

    .headingbox {
        margin-left: 5%;
    }
}

@media screen and (max-width: 1280px) {
    header {
        min-height: 800px;
    }

    .headingbox {
        margin-left: 5%;
    }
}

@media screen and (max-width: 1024px) {
    header {
        min-height: 710px;
    }

    .headingbox {
        margin-left: 5%;
    }
}

@media screen and (max-width: 768px) {
    header {
        min-height: 900px;
    }
}

@media screen and (max-width: 480px) {
    header {
        min-height: 665px;
    }

    .headingbox {
        margin-left: 5%;
    }
}